@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body {
    background-color: #18191a;
    color: #fff;
    line-height: 1.5;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #00fff3;
    border: solid 4px #171819;
}

body::-webkit-scrollbar-thumb:hover {
    background: #d2cbe4;
}

[text-color] {
    color: #00fff3;
}

small {
    font-size: .75rem;
    font-size: 12px;
    --text-opacity: 1;
    color: rgba(144,147,154,var(--text-opacity));
}

p {
    text-align: justify;
    --text-opacity: 1;
    color: #90939a;
    color: rgba(144,147,154,var(--text-opacity));
    font-size: 16px;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 100px;
    padding-top: 25px;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: inherit;
    color: #00fff3;
}

/* Header */
section#header {
    height: 70px;
    margin-top: 0px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 1000;
    background-color: #1b1b1b;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
}

div#logo {
    top: 23px;
    position: fixed;
    left: 70px;
    font-weight: bolder;
}

div#logo a {
    text-decoration: none;
}

section#header a {
    color: #d2cbe4;
    font-weight: bold;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border-color: #d2cbe4;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

#button {
    margin-top: 7px;
    margin-bottom: 7px;
}

[menuShow] {
    margin-top: 0;
    border: 5px solid #1b1b1b;
    background-color: #1b1b1b;
}

[menuShow] > ul > li > a {
    transition: 0.3s ease-in-out;
}

[menuShow] > ul > li > a:hover {
    transform: scale(1.04);
}

section#header li a {
    padding-left: 10px;
    padding-right: 10px;
}

section#header li a:hover {
    color: #00fff3;
}

/* Home */
section.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    height: 750px;
    overflow: hidden;
}

@media (max-width: 992px) {
    section.home {
        height: 600px;
    }
}

@media (max-width: 768px) {
    section.home {
        height: 450px;
    }
}

@media (max-width: 576px) {
    section.home {
        height: 300px;
    }
}

section.home span {
    overflow: hidden;
}

section.home div {
    position: absolute;
}

section.home h1 {
    font-size: max(30px, 6vw);
}

section.home i {
    color: #00fff3;
}

.line {
    position: relative;
    width: 0px;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 80px;
    line-height: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.9);

}

/***** Animation Write *****/
.anim-typewriter {
    animation: typewriter 5s steps(22) 500ms infinite,
    blinkTextCursor 500ms steps(22) infinite normal;
}

@keyframes typewriter {
    0% {
          width: 0px;
    }
    10% {
          width: 0px;
    }
    25% {
          width: 100%;
    }
    75% {
          width: 100%;
    }
    90% {
          width: 0px;
    }
    100% {
          width: 0px;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}

/* About */
section#about {
    padding: 75px 0;
    background-color: #2d2e32;
    margin-top: -15px;
    box-shadow: 0px -1px 300px #00fff3;
}

section#about p {
    font-size: 18px;
    line-height: 2;
}

section#about img {
    min-width: 100px; max-width: 200px; height: auto;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 0 0);
}

[aboutBtn] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    position: absolute;
}

[btn] {
    width: 160px;
    height: 55px;
    background: transparent;
    outline: none;
    color: #00fff3;
    border: 1px solid #00fff3;
    font-size: 18px;
    transition: 0.5s ease-in-out !important;
}
  
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    width: 160px;
}
 
[btn]:hover {
    transition: 1s ease-in-out;
    transform: scale(1.2);
    background-color: rgba(0, 255, 243, 0.1);
    border: 1px solid rgba(0, 255, 243, 0.1);
}

[btn]:hover svg {
    stroke-dashoffset: -480;
}

[btn] a {
    color: #00fff3;
    font-size: 18px;
    font-weight: 100;
}

/* Skills */ 
section#skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 50px 150px 50px;
    --bg-opacity: 1;
    background-color: #25262a;
}

.sFather {
    display: grid;
    height: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
}

section#skills > div > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

section#skills > div > div > div {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    margin: 15px;
    color: #00fff3;
    transition: 0.3s ease-in-out;
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 50px black;
}

section#skills > div > div > div:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #00fff3;
}

section#skills > div > div > div i {
    transition: 0.3s ease-in-out;
}

section#skills > div > div > div:hover i {
    color: #00fff3 !important;
}

.sSon1 {
    /* row-start column-start row-end column-end */
    grid-area: 1 / 1 / 2 / 4;
    flex-wrap: wrap;
}

.sSon2 {
    grid-area: 2 / 1 / 3 / 4;
    flex-wrap: wrap;
}

.font-weight-bold {
    color: #6c757d;
}

section#skills > div > div > div div {
    color: #6c757d;
    transition: 0.3s ease-in-out;
}
section#skills > div > div > div:hover div {
    color: #00fff3 !important;
}

#section#skills > div > div:hover  > div > .font-weight-bold {
    display: none;
}

/* Project */
section#project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    display: flex;
    padding: 75px 0 150px 0;
    background-color: #2d2e32;
}

section#project div div {
    overflow: hidden;
    box-shadow: 5px 5px 50px black;
}

#imgLogo {
    min-width: 180px;
    min-height: 120px;
    max-width: 340px;
    max-height: 250px;
}

[proj] {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    transition: 0.3s ease-in-out;
}

[proj]:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
}

[proj] h3 {
    font-size: 50px;
    font-size: max(30px, 3vw);
}

/* Work */
section#workExperience {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    display: flex;
    padding: 75px 0;
    background-color: #25262a;
    overflow: hidden;
}

section#workExperience .tFather {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 30px;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}

section#workExperience img {
    max-height: 200px;
}

.card {
    max-width: 350px;
    border: none;
    background-color: #25262a;
}

/* Voluntary */
section#voluntary {
    border-bottom: solid 5px rgba(100, 100, 100, 0);
    padding: 75px 0;
    background-color: #2d2e32;
    overflow: hidden;
}

/* Contact */
section#contact {
    padding: 75px 0;
}

section#contact span {
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

section#contact span:hover {
    color: #00fff3 !important;
}

[pForm] {
    padding: 100px 0;
}

#contact [text-color] {
    font-size: 20px;
}

.btn {
    border-radius: 0px;
}

#form {
    margin-top: 2px;
    margin-bottom: 20px;
}

.form-bg .name {
    width: 100%;
    height: 40px;
    padding: 15px 15px;
    font-size: 10pt;
    font-weight: 700;
    color: #00fff3;
    background-color: transparent;
    border: 1px solid #00fff3;
}

form {
    margin: 0;
}

input {
    margin: 0;
    vertical-align: baseline;
    overflow: visible;
    line-height: normal;
}

textarea {
    margin: 0;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    line-height: normal;
}

.form-bg {
    padding-right: 15px;
    padding-left: 15px;
}

.form-bg .email {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    font-weight: 700;
    color: #00fff3;
    background-color: transparent;
    border: 1px solid #00fff3;
}

.form-bg .msg {
    margin-top: 30px;
    width: 100%;
    height: 130px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    font-weight: 700;
    color: #00fff3;
    background-color: transparent;
    border: 1px solid #00fff3;
}

.form-bg .btn {
    font-weight: 500;
    font-size: 10pt;
    letter-spacing: 2pt;
    border-radius: 0px;
    padding: 15px 40px;
    margin-top: 30px;
}

.btn {
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

[formBtn] {
    background: transparent;
    transition: 0.3s ease-in-out;
    color: #00fff3;
    border: 1px solid #00fff3;
}

[formBtn]:hover {
    background-color: rgba(0, 255, 243, 0.1);
    color: #00fff3;
    border: 1px solid rgba(0, 255, 243, 0);
  }

button {
    -webkit-appearance: button;
    margin: 0;
    overflow: visible;
}

/* Modal */
.modal-content {
    background-color: #18191a;
    position: relative;
    z-index: 3000;
}

.modal-header button {
    color: red;
}

.modal-header button:hover {
    color: red;
}

.modal-title {
    color: #00fff3;
    font-weight: 900;
}

.modal-body p {
    color: #00fff3;
}

/* WhatsApp */
#whatsapp {
    position: fixed;
    z-index: 10000;
    bottom: 40px;
    right: 40px;
    border-radius: 50;
    text-decoration: none;
}

[whatsApp] {
    border-radius: 50%;
    text-decoration: none;
    color: #00fff3;
    transition: 0.3s ease-in-out;
}

[whatsApp]:hover {
    box-shadow: 5px 5px 50px #00fff3;
}

/* Footer */
footer {
    text-align: center;
    padding: 25px 0;
    position: relative;
    z-index: 2000;
    background-color: rgb(33, 33, 33);
}

footer h4 {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff8c;
}

/* Animation Scroll */
[data-anime] {
    opacity: 0;
    transition: 0.3s;
}

[data-anime="header-left"] {
    transform: translate3d(1000px, 0, 0);
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(100px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Animation Scroll Voluntary */
.anime-left {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    transition: 0.3s;
}

.anime-right {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
    transition: 0.3s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}